html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
@import "./components/header";
@import "./components/welcome";
@import "./components/goal";
@import "./components/partners";
@import "./components/who";
@import "./components/get";
@import "./components/tariffs";
@import "./components/how";
@import "./components/statistics";
@import "./components/events";
@import "./components/modal";
@import "./components/footer";

@media (max-width: 1024px) {
    .container {
        padding: 0 24px;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}


.section-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.section-animate.visible {
  opacity: 1;
  transform: translateY(0);
}
.first-visible {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.3s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}









#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

#preloader img {
  width: 150px;
  height: auto;
}

@media (max-width: 400px) {
  #preloader img {
    width: 100px;
  }
}